In [10]:
import pandas as pd

In [11]:
dataset=pd.read_csv('insurance_pre.csv')

In [12]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [13]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [14]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [15]:
independent=dataset[['age', 'bmi', 'children',  'sex_male', 'smoker_yes']]

In [16]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0     False        True
1      18  33.770         1      True       False
2      28  33.000         3      True       False
3      33  22.705         0      True       False
4      32  28.880         0      True       False
...   ...     ...       ...       ...         ...
1333   50  30.970         3      True       False
1334   18  31.920         0     False       False
1335   18  36.850         0     False       False
1336   21  25.800         0     False       False
1337   61  29.070         0     False        True

[1338 rows x 5 columns]

In [17]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [18]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.3,random_state=0)

In [19]:
X_train

      age     bmi  children  sex_male  smoker_yes
1163   18  28.215         0     False       False
196    39  32.800         0     False       False
438    52  46.750         5     False       False
183    44  26.410         0     False       False
1298   33  27.455         2      True       False
...   ...     ...       ...       ...         ...
763    27  26.030         0      True       False
835    42  35.970         2      True       False
1216   40  25.080         0      True       False
559    19  35.530         0      True       False
684    33  18.500         1     False       False

[936 rows x 5 columns]

In [20]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [21]:
X_train

array([[-1.5330973 , -0.40713453, -0.89833872, -0.97676557, -0.50466988],
       [-0.03364163,  0.32855417, -0.89833872, -0.97676557, -0.50466988],
       [ 0.89459283,  2.56690911,  3.25603402, -0.97676557, -0.50466988],
       ...,
       [ 0.03776102, -0.91016269, -0.89833872,  1.02378711, -0.50466988],
       [-1.46169465,  0.76659782, -0.89833872,  1.02378711, -0.50466988],
       [-0.46205754, -1.96596021, -0.06746417, -0.97676557, -0.50466988]])

In [22]:
from sklearn.svm import SVR
regressor=SVR(kernel="rbf",C=100,gamma='auto',shrinking=False,max_iter=100,degree=2)
regressor.fit(X_train,y_train)

C:\AI\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\AI\Lib\site-packages\sklearn\svm\_base.py:297: ConvergenceWarning: Solver terminated early (max_iter=100).  Consider pre-processing your data with StandardScaler or MinMaxScaler.
  warnings.warn(

SVR(C=100, degree=2, gamma='auto', max_iter=100, shrinking=False)

In [23]:
regressor.intercept_

array([17907.39946899])

In [24]:
regressor.support_

array([  6,  12,  13,  17,  23,  29,  34,  35,  37,  41,  42,  43,  45,
        55,  58,  68,  75,  86,  96, 100, 105, 113, 118, 123, 124, 125,
       132, 134, 149, 173, 179, 182, 183, 192, 195, 197, 199, 206, 210,
       212, 215, 220, 228, 232, 233, 234, 238, 242, 245, 249, 259, 263,
       264, 273, 274, 280, 286, 287, 293, 295, 315, 319, 321, 328, 335,
       337, 339, 345, 348, 357, 359, 360, 362, 363, 367, 369, 370, 371,
       373, 389, 392, 400, 409, 411, 421, 430, 431, 445, 446, 448, 453,
       454, 459, 462, 470, 478, 481, 486, 487, 488, 490, 491, 493, 499,
       505, 510, 523, 530, 532, 533, 535, 536, 545, 546, 547, 553, 560,
       562, 567, 573, 577, 578, 582, 585, 596, 602, 607, 612, 615, 639,
       655, 657, 660, 661, 674, 676, 680, 685, 688, 692, 696, 700, 701,
       702, 712, 716, 723, 732, 734, 738, 741, 743, 750, 751, 753, 764,
       776, 777, 780, 784, 796, 797, 801, 802, 806, 807, 815, 825, 827,
       831, 833, 837, 839, 844, 849, 852, 853, 856, 865, 866, 879, 880,
       891, 896, 898, 901, 910, 911, 918, 925, 926, 927, 928, 934])

In [25]:
y_pred=regressor.predict(X_test)

In [26]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)
r_score

0.05656886942277639

In [27]:
import pickle
filename='finalized_model_MLAssignment_SVMRIPDataPreprocess.sav'
pickle.dump(regressor,open(filename,'wb'))

In [29]:
preinput=sc.transform([[50,30.970,3,1,0]])
preinput

C:\AI\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

array([[ 0.75178752,  0.03492051,  1.59428492,  1.02378711, -0.50466988]])

In [31]:
loaded_model=pickle.load(open('finalized_model_MLAssignment_SVMRIPDataPreprocess.sav','rb'))
result=loaded_model.predict(preinput)
result

array([17579.24112364])